<input type="text" [maxlength]="maxLength" class="form-control" placeholder="{{placeholder}}" aria-label="Number"
    [(ngModel)]="selectedValue" [formControl]="selectedValueFormControl" [matAutocomplete]="auto"
    (blur)="blurTextbox($event)">
<mat-autocomplete autoActiveFirstOption="true" (optionSelected)="optionSelected($event)" #auto="matAutocomplete">
    <mat-option *ngFor="let option of matchedOptions" [value]="option">
        {{option}}
    </mat-option>
    <!--<mat-option *ngIf="notMatched" [value]="selectedValue">
        <-- <span class="font-8">No match found. Do you want to save this field?</span>
        <br> --
    </mat-option>-->

</mat-autocomplete>