<div class="row pull-right " id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Purchase Management</a></li>
        <li class="active"><span> Purchase Order </span></li>
    </ol>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Indent Details</h4>
    </div>
    <div class="card-body" style="overflow-y:auto">
            <div class="row m-b-25" >
                    <div class="col-md-12" >
                            <div>
                                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" cellpadding="4" id="grdOrganizations">
                            <tbody>
                                    <tr>
                                            <th>S.No</th>
                                            <th>Material Name</th>
                                            <th>Order Quantity</th>   
                                            <th>Quotation Details</th>   
                                            <th>Quoted Rate</th>         
                                            <th>PO Rate</th>       
                                            <th>Amount</th>       
                                            <th>Tax (%)</th>       
                                            <th>Tax Amt</th>  
                                            <th>Tot. Amt</th>                             
                                    </tr>
                                    <tr>
                                            <td>
                                                    <span>1</span>
                                            </td>
                                            <td>
                                                    Na
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                    </tr>
                            </tbody>
                                    </table>
                            </div>
                </div>
            </div>
    </div>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Order Details</h4>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Order Date</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <span class="label-control">Order Number</span>
                                    <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Name of Supplier</span>
                                <select class="form-control">
                                    <option value="--Select Status--">--Select Status--</option>
                                    <option>Supplier 1</option>
                                    <option>Supplier 2<option>
                                    <option>Supplier 3</option>
                                </select>
                    
                            </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Place</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                <span>State</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span>Country</span>
                                <input type="text" class="form-control">
                               </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span>IGST / SGST</span>
                                <select class="form-control">
                                        <option value="--Select Status--">--Select Status--</option>
                                        <option>IGST / SGST 1</option>
                                         <option>IGST / SGST 2</option>
                                         <option>IGST / SGST 3</option>
                                    </select>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Through Quotation </span>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Ref. No</span>
                            <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Ref. Date</span>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Packing Conidtion</span>
                            <select class="form-control">
                                <option value="--Select Status--">--Select Status--</option>
                                <option>Packing Conidtion 1</option>
                                 <option>Packing Conidtion 2</option>
                                 <option>Packing Conidtion 3</option>
                            </select>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Packing Style</span>
                            <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Packing Quantity</span>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Packing Rate</span>                         
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Packing Amount</span>                            
                            <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Delivery Condition</span>
                                <select class="form-control">
                                    <option value="--Select Status--">--Select Status--</option>
                                    <option>Delivery Condition 1</option>
                                    <option>Delivery Condition 2</option>
                                    <option>Delivery Condition 3</option>
                                </select>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Frieght Amount</span>                             
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Insurance Condition</span>
                                <select class="form-control">
                                    <option value="--Select Status--">--Select Status--</option>
                                    <option>Insurance Condition 1</option>
                                    <option>Insurance Condition 2</option>
                                    <option>Insurance Condition 3</option>
                                </select>
                        </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Insurance Amount</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Payment Terms</span>
                                <textarea class="form-control"></textarea>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Advance</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Credit Days</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Delivery Date</span>
                                <textarea class="form-control"></textarea>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Delivery Date</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">Total PO Amount</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">PO Valid Till</span>
                                <select class="form-control">
                                    <option value="--Select Status--">--Select Status--</option>
                                    <option>PO Valid Till 1</option>
                                    <option>PO Valid Till 2</option>
                                    <option>PO Valid Till 3</option>
                                </select>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <span class="label-control">PO Valid Days</span>
                                <input type="text" class="form-control">
                        </div>
                </div>
       
            </div>
    </div>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Material Conditions:</h4>
    </div>
    <div class="card-body">
            <div class="row">
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Particulars</span>
                                <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                    <span class="label-control">Details</span>
                                    <input type="text" class="form-control">
                            </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <span class="label-control">Remarks</span>
                                <textarea class="form-control"></textarea>
                            </div>
                    </div>
            </div>
    </div>
</div>
<div  class="card">
    <div class="card-header card-header-text" data-background-color="rose">
            <h4 class="card-title"><i class="fa fa-table m-r-10"></i>Material Quality Terms</h4>
    </div>
    <div class="card-body" style="overflow-y:auto">
            <div class="row m-b-25" >
                    <div class="col-md-12" >
                            <div>
                                    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" cellpadding="4" id="grdOrganizations">
                            <tbody>
                                    <tr>
                                            <th>S.No</th>
                                            <th>Particulars</th>
                                            <th>Details</th>   
                                            <th>Remarks</th>                           
                                    </tr>
                                    <tr>
                                            <td>
                                                    <span>1</span>
                                            </td>
                                            <td>
                                                    Na
                                            </td>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                         
                                    </tr>
                            </tbody>
                                    </table>
                            </div>
                </div>
            </div>
    </div>
</div>
<div  class="card">
        <div class="row pull-right btSection">
                <div class="col-md12">
                         <input type="submit" value="Back"  class="btn btn-info">
                         <input type="submit" value="Save" class="btn btn-info">
                         <input type="submit" value="Find" class="btn btn-info">
                         <input type="submit" value="Modify" class="Modify">
                         <input type="submit" value="Clear" class="btn btn-info">
                 </div>
         </div>
</div>