<div class="row pull-right" id="bread">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#">Secure</a></li>
        <li class="active"><span> GRN – Stores Materials </span></li>
    </ol>
</div>

<div style="height: 28px;"></div>

<p-accordion>
    <p-accordionTab header="GRN – Stores Materials" [selected]="true">
        <div class="row  ml-2 mr-2 mt-2 maindiv">
            <div class="col-md-12 cleartop">
                <div class="row pl-1 pr-1 align-items-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                Purchase Return Date
                            </span>
                            <input matInput class="form-control border-bottom-1 mb-1" placeholder="Enter Date"
                                [matDatepicker]="eDate">
                            <mat-datepicker-toggle class="date-picker-icon-position" matSuffix [for]="eDate">
                            </mat-datepicker-toggle>
                            <mat-datepicker #eDate>
                            </mat-datepicker>
                            <!-- <small Class="form-text text-danger">Received Date is
                                required!</small> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                Purchase Return Number
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">Supplier Name</span>
                            <mat-select class="form-control">
                                <mat-option value="">Yes</mat-option>
                                <mat-option value=""> no</mat-option>
                            </mat-select>
                            <!-- <small Class="form-text text-danger" *ngIf="!(areaDetailsForm.get('AreaID').valid) && (areaDetailsForm.get('AreaID').touched) 
                                && areaDetailsForm.get('AreaID').errors?.required">Area/Branch Name is
                                    required!</small> -->
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                Country
                            </span>
                            <input class="form-control" type="text">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                State
                            </span>
                            <input class="form-control" type="text">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                City
                            </span>
                            <input class="form-control" type="text">
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                GRN No
                            </span>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label-control">
                                Total Return Value
                            </span>
                            <input class="form-control" type="text">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>
<div style="height: 15px;"></div>
<p-accordion>
    <p-accordionTab header="Details" [selected]="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                            cellpadding="4">
                            <tbody>
                                <tr>
                                    <th>
                                        Material Details
                                    </th>
                                    <th>
                                        UOM
                                    </th>
                                    <th>
                                        P O Quantity
                                    </th>
                                    <th>
                                        Bill Quantity
                                    </th>
                                    <th>
                                        Received Quantity
                                    </th>
                                    <th>
                                        Bill Rate
                                    </th>
                                    <th>
                                        Basic Material Cost
                                    </th>
                                    <th>
                                        Discount Rate
                                    </th>
                                    <th>
                                        Discount Amount
                                    </th>

                                    <th>
                                        Net Material Cost
                                    </th>

                                    <th>
                                        E D Rate
                                    </th>

                                    <th>
                                        ED Amount
                                    </th>
                                    <th>
                                        Excise Cess
                                    </th>

                                    <th>
                                        Excise Cess Amount
                                    </th>

                                    <th>
                                        Insurance
                                    </th>
                                    <th>
                                        Freight
                                    </th>
                                    <th>
                                        VAT / CST Rate
                                    </th>
                                    <th>
                                        VAT / CST Amount
                                    </th>
                                    <th>
                                        Cess Rate
                                    </th>

                                </tr>
                                <tr>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>
                                    <td class="text-center">
                                        -
                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-left font-weight-bold" colspan="14">
                                        Total
                                    </td>

                                    <td class="text-center font-weight-bold" colspan="5">
                                        00.00
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>


<div class="mgt-20 pull-right">
    <div class="row pull-right btSection">
        <div class="col-md-12">
            <button pButton type="button" label="Add" class="ui-button-rounded"></button>
            <button pButton type="button" label="Save" class="ui-button-rounded"></button>
            <button pButton type="button" label="Find" class="ui-button-rounded"></button>
            <button pButton type="button" label="Modify" class="ui-button-rounded"></button>
            <button pButton type="button" label="Clear" class="ui-button-rounded"></button>
        </div>
    </div>
</div>