th{
  background-color: #007ad9 !important;
  color: white !important;
  }



.error-span{
    color: #dc3545;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; /* Firefox */
    font-size: 10px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.5;
    font-size: 10px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.5;
    font-size: 10px;
  }
  