input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.text-danger {
  color: red;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.modal-backdrop.in {
  opacity: 0.9 !important;
}

.form-control:focus{
  border-bottom:2px solid #f0c104!important;
}

th{
  background-color: #007ad9 !important;
}