<div class="row">
    <div class="col-lg-10">
        <h5>Change Item</h5>
    </div>
    <div class="col-lg-2 cursor-pointer" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </div>
</div>
<div class="row pad-lf-15">
    <input type="text" placeholder="Please enter text" class="form-control" [(ngModel)]="itemText" maxlength="30">
    <br>
    <span *ngIf="!itemText" class="error-span">This field is required.</span>
</div>
<div class="row pad-lf-15 pad-tp-20">

    <input type="submit" value="Yes" [disabled]="!itemText" (click)="onYesClick()" class="btn btn-info">
    <input type="submit" value="No" (click)="onNoClick()" class="btn btn-info mar-lf-10">
</div>