

.table tr.active td {
  background-color: #007ad9 !important;
  color: white;
}
.bg-blue{
  background-color: #007ad9;
  border: 1px solid#007ad9;
  color: #ffffff;
}
.card .card-header {
  padding: 9px 14px 9px !important;
  z-index: 3;
  font-weight: bold !important;
}

#input_ic{
  position:absolute;
  bottom:0px;
  right:0px;
  width:24px;
  height:35px;
  padding: 0;
  border: none;
  background: none;
}

#input {
  height:30px;
  margin:0;
  padding-right: 30px;
  width: 100%;
}